<div id="sidebar">
  <!-- sidebar north START -->
  <div id="northsidebar" class="sidebar">
    <!-- feeds -->
    <div class="widget widget_feeds">
      <div class="content">
	<div id="subscribe">
	  <a rel="external nofollow" id="feedrss" title="Subscribe to this blog..." href="http://feeds.feedburner.com/askin"><abbr title="Really Simple Syndication">RSS</abbr></a>
	  <ul id="feed_readers">
	    <li id="google_reader"><a rel="external nofollow" class="reader" title="Subscribe with Google" href="http://fusion.google.com/add?feedurl=http://feeds.feedburner.com/askin"><span>Google</span></a></li>
	    <li id="youdao_reader"><a rel="external nofollow" class="reader" title="Subscribe with Youdao" href="http://reader.youdao.com/#url=http://feeds.feedburner.com/askin"><span>Youdao</span></a></li>
	    <li id="xianguo_reader"><a rel="external nofollow" class="reader" title="Subscribe with Xian Guo" href="http://www.xianguo.com/subscribe.php?url=http://feeds.feedburner.com/askin"><span>Xian Guo</span></a></li>
	    <li id="zhuaxia_reader"><a rel="external nofollow" class="reader" title="Subscribe with Zhua Xia" href="http://www.zhuaxia.com/add_channel.php?url=http://feeds.feedburner.com/askin"><span>Zhua Xia</span></a></li>
	    <li id="yahoo_reader"><a rel="external nofollow" class="reader" title="Subscribe with My Yahoo!"	href="http://add.my.yahoo.com/rss?url=http://feeds.feedburner.com/askin"><span>My Yahoo!</span></a></li>
	    <li id="newsgator_reader"><a rel="external nofollow" class="reader" title="Subscribe with newsgator"	href="http://www.newsgator.com/ngs/subscriber/subfext.aspx?url=http://feeds.feedburner.com/askin"><span>newsgator</span></a></li>
	    <li id="bloglines_reader"><a rel="external nofollow" class="reader" title="Subscribe with Bloglines"	href="http://www.bloglines.com/sub/http://feeds.feedburner.com/askin"><span>Bloglines</span></a></li>
	    <li id="inezha_reader"><a rel="external nofollow" class="reader" title="Subscribe with iNezha"	href="http://inezha.com/add?url=http://feeds.feedburner.com/askin"><span>iNezha</span></a></li>
	  </ul>
	</div>
	<a id="followme" title="Follow me!" href="http://twitter.com/kelebeks/">Twitter</a>
	<div class="fixed"></div>
      </div>
    </div>
    <!-- showcase -->
    <div id="tag_cloud-2" class="widget widget_tag_cloud">
      <h3>Tag Cloud</h3>
      <div class="tagcloud">
        <!-- FIXME: Taglar buraya gelecek -->
      </div>
    </div>
    <div id="text-289542933" class="widget widget_text">
      <div class="textwidget" style="text-align: center;">
        <a href='https://www.ohloh.net/accounts/41509?ref=Detailed'>
          <img alt='Ohloh profile for kelebek' src='https://www.ohloh.net/accounts/41509/widgets/account_detailed.gif' />
        </a>
        <a href="http://www.fsf.org/register_form?referrer=10889">
          <img src="http://static.fsf.org/nosvn/associate/fsf-10889.png" alt="[FSF Associate Member]" />
        </a>
      </div>
    </div>
    <div id="recent-comments-3" class="widget widget_recent_comments">
      <h3>Recent Comments</h3>
      <!-- FIXME: Yorumlar buraya gelecek -->
      <div id="recentcomments" class="dsq-widget">
        <script type="text/javascript" src="http://askinblog.disqus.com/recent_comments_widget.js?num_items=5&amp;hide_avatars=1&amp;avatar_size=32&amp;excerpt_length=200"></script>
      </div>
      <a href="http://disqus.com/">Powered by Disqus</a>
    </div>
    <div id="text-289542936" class="widget widget_text">
      <h3>About Me</h3>
      <div class="textwidget">
        <ul>
          <li><strong>İsim :</strong> Aşkın Yollu</li>
          <li><strong>E-mail :</strong> askin [at] askin.ws</li>
          <li><strong>Jabber :</strong> kelebek [at] jabber.org</li>
          <li><strong>İş :</strong> Yazılım Geliştirici</li>
          <li><strong>Çalıştığı Yer :</strong> Dokuz Eylül Üniversitesi</li>
          <li><strong>Public Key :</strong> <a href="http://askin.ws/id_rsa.pub" title="public key">public key</a></li>
        </ul>
      </div>
  </div></div>
<!-- sidebar north END -->

<div id="centersidebar">
  <!-- sidebar east START -->
  <div id="eastsidebar" class="sidebar">
    <!-- categories -->
    <div class="widget widget_categories">
      <h3>Categories</h3>
      <ul>
	<li class="cat-item cat-item-6"><a href="http://blog.yollu.com/category/aq/" title="View all posts filed under AQ">AQ</a>
        </li>
	<li class="cat-item cat-item-24"><a href="http://blog.yollu.com/category/dsnds/" title="View all posts filed under D.S.N.D.S">D.S.N.D.S</a>
        </li>
	<li class="cat-item cat-item-32"><a href="http://blog.yollu.com/category/findows/" title="View all posts filed under Findows">Findows</a>
        </li>
	<li class="cat-item cat-item-197"><a href="http://blog.yollu.com/category/gezegen/" title="Çeşitli gezegenlerde yayınlanmasını isteğim yazılar bu katagori altında toplanmıştır.">Gezegen</a>
        </li>
	<li class="cat-item cat-item-1"><a href="http://blog.yollu.com/category/gunluk/" title="View all posts filed under Günlük">Günlük</a>
        </li>
	<li class="cat-item cat-item-15"><a href="http://blog.yollu.com/category/internet/" title="View all posts filed under İnternet">İnternet</a>
        </li>
	<li class="cat-item cat-item-23"><a href="http://blog.yollu.com/category/karikatur/" title="View all posts filed under Karikatür">Karikatür</a>
        </li>
	<li class="cat-item cat-item-31"><a href="http://blog.yollu.com/category/linux/" title="View all posts filed under Linux">Linux</a>
        </li>
	<li class="cat-item cat-item-3"><a href="http://blog.yollu.com/category/ogrenci-hali/" title="View all posts filed under Öğrenci Hali">Öğrenci Hali</a>
        </li>
	<li class="cat-item cat-item-10"><a href="http://blog.yollu.com/category/programlama/" title="View all posts filed under Programlama">Programlama</a>
        </li>
	<li class="cat-item cat-item-9"><a href="http://blog.yollu.com/category/scheme/" title="View all posts filed under Scheme">Scheme</a>
        </li>
      </ul>
    </div>

  </div>
  <!-- sidebar east END -->

  <!-- sidebar west START -->
  <div id="westsidebar" class="sidebar">

    <!-- blogroll -->
    <div class="widget widget_links">
      <h3>Blogroll</h3>
      <ul>
	<li><a href="http://www.askin.ws" title="Aşkın Yollu">Aşkın Yollu</a></li>
        <li><a href="http://askin.ws/blog" >Aşkın Yollu&#039;s Blog</a></li>
        <li><a href="http://www.belgeler.org" title="Linux Belgelendirme Çalışma Grubu" >Belgeler.org</a></li>
        <li><a href="http://www.deuemek.org" title="Dokuz Eylül Üniversitesi Emek Gençliği">Emek Gençliği</a></li>
        <li><a href="http://www.enixma.org/" title="Enixma" >Enixma</a></li>
        <li><a href="http://github.com/askin/kelebekpisi" title="Kelebek Pisi Proje Sayfası" >Kelebek Pisi</a></li>
        <li><a href="http://blog.kenantas.com/" title="Kenan Taş&#8217;s Blog" >Kenan Taş</a></li>
        <li><a href="http://www.lkd.org.tr/" title="Linux Kullanıcıları Derneği Web Sitesi" >LKD</a></li>
        <li><a href="http://blog.metebilgin.com" rel="met colleague" title="Mete Bilgin" >Mete Bilgin</a></li>
        <li><a href="http://www.pardus-linux.org/" title="Pardus-Linux.org" >PLO</a></li>
        <li><a href="http://gezegen.pardus-linux.org/" title="PLO Gezegeni" >PLO Gezegeni</a></li>
        <li><a href="http://www.pardus.org.tr/" title="Pardus GNU/Linux" >Pardus</a></li>
        <li><a href="http://askin.ws/pisi/2009" title="Kelebek Pisi Deposu">Pisi Depom</a></li>
        <li><a href="http://www.siyahsapka.org/" rel="colleague" title="Siyah Şapka" >Siyah Şapka</a></li>
        <li><a href="http://buraxezer.wordpress.com/" rel="met" >burak@unix~$</a></li>
      </ul>
    </div>

  </div>
  <!-- sidebar west END -->
  <div class="fixed"></div>
</div>

<!-- sidebar south START -->
<div id="southsidebar" class="sidebar">
  <div id="rss-122430021" class="widget widget_rss">
    <h3>
      <a class='rsswidget' href='http://ws.audioscrobbler.com/1.0/user/kelebekbaba/recenttracks.rss' title='Syndicate this content'>
        <img style='border:0' width='14' height='14' src='http://blog.yollu.com/wp-includes/images/rss.png' alt='RSS' />
      </a>
      <a class='rsswidget' href='http://www.last.fm/user/kelebekbaba' title='Last 10 tracks submitted to Last.fm'>Last Fm &#8211; Son Dinlediklerim</a>
    </h3>
    <br />
    <a href="http://www.last.fm/user/kelebekbaba/?chartstyle=basicrt10"  >
      <img src="http://imagegen.last.fm/basicrt10/recenttracks/kelebekbaba.gif" style="border:0;" alt="kelebekbaba's Profile Page"/>
    </a>
  </div>
  <div id="text-289542934" class="widget widget_text">
    <div class="textwidget">
      <script type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script type="text/javascript">
        new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 10,
            interval: 6000,
            width: 270,
            height: 400,
            theme: {
                shell: {
                    background: '#333333',
                    color: '#ffffff'
                },
                tweets: {
                    background: '#000000',
                    color: '#ffffff',
                    links: '#4aed05'
                }
            },
            features: {
                scrollbar: false,
                loop: false,
                live: true,
                hashtags: true,
                timestamp: true,
                avatars: false,
                behavior: 'all'
            }
        }).render().setUser('kelebeks').start();
      </script>
    </div>
  </div>
  <div id="text-289542935" class="widget widget_text">
    <div class="textwidget">
      <a href="http://www.sansursuzinternet.org.tr">
        <img src="http://www.sansursuzinternet.org.tr/bannerler/125x125-beyaz.jpg" style='border:0;' alt="" width="125" height="125" />
    </a>
    </div>
  </div>
  <div id="text-289542931" class="widget widget_text">
    <h3>Bazı Hakları Saklıdır</h3>
    <div class="textwidget">
      <a href="http://creativecommons.org/licenses/by-sa/2.5" >
        <img src="http://blog.yollu.com/images/88x31.png" title="Bazı Hakları Saklıdır" alt="Bazı Hakları Saklıdır" style="align: left;"/>
      </a>
      Bu site Creative Commons - Attribution / Share Alike lisansı ile korunmaktadır. Ayrıntılı bilgi için logoya tıklayınız.
    </div>
  </div>
  <div id="text-289542932" class="widget widget_text">
    <h3>Site Görünümü</h3>
    <div class="textwidget">Bu site en kötü Internet Explorer ile görünür. <br />
      Daha iyi bir görünüm elde etmek için Opera, <br />
      <b>En iyi görünümü elde etmek için <a href="http://www.mozilla-europe.org/">Firefox</a> kullanın.</b>
    </div>
  </div>
</div>
<!-- sidebar south END -->

</div>
<!-- sidebar END -->
