---
layout: default
---
{% for post in site.posts %}
<!-- FIXME: post-id -->
<div class="post" id="post-id">
  <h2><a class="title" href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h2>
  <div class="info">
    <span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
    <span class="author"><a>Author Link</a></span>
    <span class="comments">
      <a href="{{ post.url }}#disqus_thread">Comment Link</a>
    </span>
    <div class="fixed"></div>
  </div>
  <div class="content">
    {{ post.summary }}
    <div class="fixed"></div>
  </div>
  <div class="under">
    <span class="categories">{{ post.category }}</span>
    <span class="tags">Tags: </span>
    <span>
      {% for tag in post.tags %}
      <a href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
      {% if forloop.last != true %} {% endif %} {% endfor %}
    </span>
  </div>
</div>
{% endfor %}
<!-- FIXME NO POST
     <div class="errorbox">
       Sorry, no posts matched your criteria.
     </div>
-->

<!-- FIXME: Tum postlari ana sayfada gosterme
<div id="pagenavi">
  <span class="newer"><a>newew link</a></span>
  <span class="older"><a>older link</a></span>
<div class="fixed"></div>
</div>
-->
